name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    env:
      IMAGE_NAME: 'devopsaw-app'
      IMAGE_TAG: 'latest'
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker
        uses: docker/setup-docker-action@v4
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Setup image name
        run: echo "IMAGE_NAME=${{ vars.DOCKERHUB_USERNAME }}/${{env.IMAGE_NAME}}" >> $GITHUB_ENV
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Setup Qemu for arm64
        uses: docker/setup-qemu-action@v3
      - name: Setup the Docker Build
        uses: docker/setup-buildx-action@v3
      - name: Build and push the image to repo
        uses: docker/build-push-action@v6
        with:
          context: ./workflows
          file: ./workflows/Dockerfile
          platforms: linux/amd64,linux/arm64
          load: true
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
          annotations: ${{ steps.meta.outputs.annotaions }}
